@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Abhaya Libre, Helvetica, sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
}






